@import './variables';
@import './queries';

/* Global Styles */
* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 24px;
  color: $primary-text-color;
  line-height: 1.4;
}

h1 {
  font-size: 3.2em;
  font-weight: bold;
}

h2 {
  font-weight: lighter;
  font-size: 1.7em;
  letter-spacing: 1px;
}

p {
  font-size: 0.85em;
}

button {
  text-transform: uppercase;
  border: 3px $secondary-text-color solid;
  background-color: transparent;
  padding: 15px 23px 12px 23px;
  letter-spacing: 3px;
  font-size: 0.65em;
  font-weight: bolder;
  border-radius: 24px;
  width: auto;
}

/* Banner Section */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 640px;
  width: 100%;
  background-size: cover;

  .banner-text-container {
    text-align: center;

    .banner-secondary-text {
      margin-top: 12px;
    }
  }
}

/* Brief Cards Section */
.brief-cards {
  display: flex;
  justify-content: center;
  align-items: center;

  .cards-container {
    display: grid;
    grid-gap: 48px;
    color: $secondary-text-color;

    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 0 5px 0 $subtle-shade;
      height: 100%;
      border-radius: $rounded-border-radius;
      padding: 20px;
      text-align: center;

      img {
        border-radius: $rounded-border-radius;
      }

      .card-brief-text {
        margin-top: 16px;
        flex: 1;
      }
    }
  }
}